.main-content {
    margin-top: 50px;
    display: flex;
    max-width: 1200px;
    position: relative;
    padding-bottom: 50px;
    margin: 50px auto 0;
    flex-wrap: wrap;

    @media (max-width: $breakpoint-tablet) {
        padding: 0 25px 20px;
    }

    figure {
        padding: 15px;
        border: 3px solid #0b1d31;
        flex-basis: 79%;

        @media (max-width: $breakpoint-tablet) {
            flex-basis: 100%;
        }
    }
}